<main class="home">
    {{ with or .Site.Params.homeVideoWebm .Site.Params.homeVideoMp4 }}
    <video poster="{{ $.Site.Params.homePoster }}" id="bgvid" style="z-index: 0;" playsinline autoplay muted loop>
        {{ with $.Site.Params.homeVideoWebm }}
        <source src="{{ . }}" type="video/webm" />
        {{ end }}
        {{ with $.Site.Params.homeVideoMp4 }}
        <source src="{{ . }}" type="video/mp4" />
        {{ end }}
    </video>
    {{ end }}
    <div class="video-inner" style="z-index: 2;">
        <div class="content">
            {{ range first 1 .Site.Sections }}
            <div class="section-list">
                {{ range first 4 .Sections }}
                    <a href="{{ .Permalink }}">
                        <span class="glitch" data-text="{{ .Title }}">{{ .Title }}<span class="section-list-text">{{ len .RegularPages }}</span></span>
                    </a>
                {{ end }}
            </div>
            <div class="section-list">
                {{ range last 3 .Sections }}
                    <a href="{{ .Permalink }}">
                        <span class="glitch" data-text="{{ .Title }}">{{ .Title }}<span class="section-list-text">{{ len .RegularPages }}</span></span>
                    </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
        
    </div>
</main>