.footer {
    z-index: 2;
}
.home {
    font-family: STShusong, serif;
    &::before {
        background-image: $homePoster;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        content: " ";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .video-inner {
        background: rgba(0, 0, 0, 0.5);
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-list{
        display: flex;
        font-size: 4em;
        flex-wrap: wrap;
        justify-content: space-between;
        &-text{
            position: absolute;
            left: 100%;
            top: 0;
            text-align: left;
            font-size: 14px;
            -webkit-text-stroke-color: rgb(219, 37, 37);
            color: rgb(219, 37, 37);
        }
        &:nth-child(2){
            padding: 0.5em 2em;
        }
    }
    .content {
        text-align: center;
        width: $listWidth * 1.2;
        margin: 0 auto;
        color: #fff;
        margin-top: -5em;
    }
    .links {
        color: #aaa;
        position: absolute;
        bottom: 10%;
        left: 5%;
        right: 5%;
        text-align: center;
    }
    .avatar {
        width: 8em;
        height: 8em;
        transition: transform 1s ease-out;
        &:hover {
            transform: rotateZ(360deg);
        }
    }
    h1 {
        color: #fff;
        font-size: 1.7em;
        line-height: 1em;
        font-weight: bold;
        font-family: 'Source Han Serif CN', serif;
        margin: 0.67em 0;
    }
    .motto {
        margin-bottom: 1em;
        font-family: STKaiti, serif;
    }
    .description {
        line-height: 1.618;
        margin: 1em 0;
    }
    .keywords {
        font-family: STFangsong, serif;
        line-height: 1.5;
        margin: 1em 0;
    }
    hr {
        height: 1px;
        border: none;
        background-image: linear-gradient(90deg, transparent, #fff, transparent);
    }
    a {
        color: #aaa;
        transition: color 0.5s;
        text-decoration: none;
        -webkit-text-stroke: 1px rgb(63, 161, 253);
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        font-weight: bolder;
        line-height: 1;
        position: relative;

        &:hover {
            color: #fff;
        }
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 2;
        transform: translateX(-50%) translateY(-50%);
    }
    @media only screen and (max-device-width: 1024px) {
        #bgvid {
            display: none;
        }
    }
}



.glitch {
    // color: white;
      color:transparent;
    -webkit-text-stroke: 1px rgb(63, 161, 253);
    // font-size: 100px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  @keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 1px;
    width: 100%;
    // text-shadow: -1px 0 red;
    top: 0;
    // color: white;
      color:transparent;
    -webkit-text-stroke: 1px rgb(63, 161, 253);
    background: black;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    // text-shadow: 1px 0 blue;
    top: 0;
    // color: white;
      color:transparent;
    -webkit-text-stroke: 1px rgb(63, 161, 253);
    background: black;
    overflow: hidden;
    width: 100%;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
  