{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All articles ({{ len (union .Data.Pages (where .Site.RegularPages "Section" .Section)) }})</h1>
{{ end }}

{{ $pages := .Data.Pages }}
{{ $pages = union $pages (where .Site.RegularPages "Section" .Section) }}

{{ range $pages.GroupByDate "2006" }}
<h2>{{ .Key }} ({{ len .Pages }})</h2>
<ul class="posts">
	{{- range .Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">
				{{- with .Title -}}
					{{ . }}
				{{- else -}}
					{{ .File.LogicalName }}
				{{- end -}}
			</a> 
			<span class="meta">{{ dateFormat "2006年1月2日" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
{{ end }}